/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* TEST */
    background-color: aqua;
    height: 50px;
}

.navbar{
    display: flex;
    justify-content: space-between;

    /* TEST */
    background-color: goldenrod;
    width: 70%;
    height: 40px;
}

.navbar div {
    padding: 10px 0;
    border: 1px dotted black;
}

.link{
    width: 60%;
}

.logo{
    width: 20%;
}

.login{
    width: 20%;
    text-align: right;
}

/* JUMBOTRON */
.jumbo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* TEST */
    height: 500px;
    background-color: blue;
}
.content-jumbo{
    /* TEST */
    width: 50%;
    height: 450px;
    background-color: pink;
    border: 1px dotted black;
}

/* MAIN */
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* TEST */
    height: 700px;
}
.content {
    /* TEST */
    width: 55%;
    background-color: aqua;
    height: 80%;
    border: 1px dotted black;
}
.img {
    /* TEST */
    width: 25%;
    background-color: pink;
    height: 80%;
    border: 1px dotted black;
}
.flex-container2{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    /* TEST */
    height: 700px;
    background-color: grey;
}

/* MAIN SECTION */
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    /* TEST */
    background-color: grey;
    width: 100%;
    height: 800px;
}
.main-content{
    /* TEST */
    background-color: green;
    width: 70%;
    height: 90%;
    border: 1px dotted black;
}